* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
}


.info-container.info {
  display: flex;
  gap: 20px;
  align-items: center;
  font-family: sans-serif;
  padding: 0 10px;
}

.info-container.info a,
.info-container.info label {
  text-decoration: none;
  color: #333;
  cursor: pointer;
  position: relative;
  display: block;
}

.info-container.info input {
  display: none;
}

.info-container.info ul {
  display: none;
  position: absolute;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(255, 255, 255, 0.2);
  min-width: 150px;
  z-index: 10;
  top: 100%;
  left: 0;
}

.info-container.info ul li a {
  padding: 10px;
  display: block;
  white-space: nowrap;
}

.info-container.info ul li a:hover {
  color: #efa35a;
}

.info-container.info input:checked + ul {
  display: block;
}

.menu-item {
  position: relative;
}

.navbar-btn button {
  font-size: 15px;
  padding: 10px;
  background-color: transparent;
  border: 1px solid #efa35a;
}

.navbar-btn button:hover {
  background-color: #f5dcc2;
}

.navbar-btn button a {
  color: black;
  text-decoration: none;
}

.navbar-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
}

.navbar-info {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}
.navbar-icon {
  display: none;
}

@media screen and (max-width: 834px) {
  .navbar-icon {
    display: block;
  }
  .navbar-info {
    display: none;
  }
  .navbar-icon input {
    display: none;
  
    position: relative; 
  }

  .navbar-info {
    display: none;
  }

  .navbar-icon input {
    display: none;
  }
  .navbar-icon input:checked {
    display: none;
  }
  .navbar-icon ul li {
    list-style: none;
  }
  .navbar-icon ul li a {
    color: black;
    text-decoration: none;
    padding: 5px;
    display: block;
    white-space: nowrap;
  }
  .navbar-icon ul li a:hover {
    color: #efa35a;
  }


  .navbar-icon ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
  }

  .navbar-icon input:checked ~ ul {
    display: block;
  }

  .navbar-icon ul li {
    list-style: none;
  }

  .navbar-icon ul li a {
    color: black;
    text-decoration: none;
    padding: 10px;
    display: block;
    white-space: nowrap;
  }

  .navbar-icon ul li a:hover {
    color: #efa35a;
  }
}
