* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


  

  #banner {
   font-family: sans-serif;
   width: 100%;
   height: 100%;
    background-size: cover;
    background-position: center -500px;
    
    color: rgb(255, 255, 255);
    font-family: sans-serif;
}

 #banner>img {
   max-width: 10%;
 }

 .Rectangle2>h2 {
  width: 160px;
  height: 160px;
 }
.daoc {
  
  width: 60%;
  
}


.translatikion {
  padding-left: 100px;
  padding-top: 70px;
  font-size: 300%;
  font-family: sans-serif;
  color: rgba(239, 163, 89, 1);
}



.naslate {
  padding-left: 10px;
  padding-top: 70px;
  font-size: 300%;
  font-family: sans-serif;
  margin-left: 10px;
  
}

.tertrises {
  height: 200px;
  display: flex;
}

.sharime {
  padding-top: 30px;
  color: #ffffff;
  padding-left: 10%;
  font-size: 55px;
}


.kuerkode {
  font-family: sans-serif;
  color: #e2e2e2;
  padding-top: 40px;
  padding-left: 10%;
  font-size: 40px;
}


#barcA {
  max-width: 100%;
    height: 90vh;
  background-image: url("../../../../../Building_company/assets/img/png/image\ 3\ \(4\).png");
  background: repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
  
 
}

.buttonn {
  
  color: #ffffff;
  background-color: #EFA35A;
  margin-left: 10%;
  margin-top: 3%;
 padding: 20px 30px;

}



  .kanten {
    margin-left: 10%;
  }
   
  .prime {
    margin-left: -25%;
    margin-top: 15%;
  }

  .iphat {
    margin-left: -26%;
    margin-top: 20%;
  }
  
  .about_footer {
    background: #333;
    color: #fff;
    margin-top: 80px;
    font-family: sans-serif;
    padding: 50px 40px;
  }


   
   
  .info {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .info-container.info {
    display: flex;
    gap: 20px;
    align-items: center;
    font-family: sans-serif;
    padding: 0 10px;
  }
  
  .info-container.info a,
  .info-container.info label {
    text-decoration: none;
    color: #333;
    cursor: pointer;
    position: relative;
    display: block;
  }
  
  .info-container.info input {
    display: none;
  }
  
  .info-container.info ul {
    display: none;
    position: absolute;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.2);
    min-width: 150px;
    z-index: 10;
    top: 100%;
    left: 0;
  }
  
  .info-container.info ul li a {
    padding: 10px;
    display: block;
    white-space: nowrap;
  }
  
  .info-container.info ul li a:hover {
    color: #efa35a;
  }
  
  .info-container.info input:checked + ul {
    display: block;
  }
  
  .menu-item {
    position: relative;
  }
  
  .navbar-btn button {
    font-size: 15px;
    padding: 10px;
    background-color: transparent;
    border: 1px solid #efa35a;
  }
  
  .navbar-btn button:hover {
    background-color: #f5dcc2;
  }
  
  .navbar-btn button a {
    color: black;
    text-decoration: none;
  }
  
  .navbar-container {
    padding: 0%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   
  }
  header nav{
      border-bottom: 1px solid #E3E3E3;
  }
  .navbar-info {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
  }
  .navbar-icon {
    display: none;
  }


  .footer-row {
    display: flex;
    gap: 60px;
    justify-content: space-between;
  }
  
  .foot-info a:hover {
    color: #efa35a;
  }
  
  .foot-info a {
    text-decoration: none;
    color: rgb(176, 174, 174);
    font-size: 20px;
  }
  
  .footer_hr {
    border: 1px solid #efa35a;
    width: 100%;
    margin: 15px 0;
  }
  
  .foot-info {
    width: 180px;
    display: flex;
    flex-direction: column;
  }
  
  .social-icon {
    display: flex;
    gap: 15px;
    margin-top: 15px;
    justify-content: center;
  }
  .social-icon a {
    color: white;
    font-size: 20px;
  }
  
  .social-icon a:hover {
    color: #efa35a;
  }
  
  .footer-social {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  footer a {
    text-decoration: none;
    color: white;
    font-size: 14px;
  }
  
  .footer-about {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }
  
  h2 {
    font-size: 22px;
    font-weight: 300;
  }
  .email {
    padding: 5px;
    border: 1px solid white;
  }
  
  


  .kanten {
  margin-left: 300px;
  }





  .valverde {
    padding-top: 60px;
    text-align: center;
    
  }


  .info {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .info-container.info {
    display: flex;
    gap: 20px;
    align-items: center;
    font-family: sans-serif;
    padding: 0 10px;
  }
  
  .info-container.info a,
  .info-container.info label {
    text-decoration: none;
    color: #333;
    cursor: pointer;
    position: relative;
    display: block;
  }
  
  .info-container.info input {
    display: none;
  }
  
  .info-container.info ul {
    display: none;
    position: absolute;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.2);
    min-width: 150px;
    z-index: 10;
    top: 100%;
    left: 0;
  }
  
  .info-container.info ul li a {
    padding: 10px;
    display: block;
    white-space: nowrap;
  }
  
  .info-container.info ul li a:hover {
    color: #efa35a;
  }
  
  .info-container.info input:checked + ul {
    display: block;
  }
  
  .menu-item {
    position: relative;
  }
  
  .navbar-btn button {
    font-size: 15px;
    padding: 10px;
    background-color: transparent;
    border: 1px solid #efa35a;
  }
  
  .navbar-btn button:hover {
    background-color: #f5dcc2;
  }
  
  .navbar-btn button a {
    color: black;
    text-decoration: none;
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
  }
  
  .navbar-info {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
  }
  .navbar-icon {
    display: none;
  }
  
  @media screen and (max-width: 890px) {
    .navbar-icon {
      
    }
    .navbar-info {
      display: none;
    }
    .navbar-icon input {
      display: none;
    }
  
    .navbar-icon input {
      display: none;
    }
    .navbar-icon input:checked {
      display: none;
    }
    .navbar-icon ul li {
      list-style: none;
    }
    .navbar-icon ul li a {
      color: black;
      text-decoration: none;
      padding: 5px;
      display: block;
      white-space: nowrap;
    }
    .navbar-icon ul li a:hover {
      color: #efa35a;
    }

   
  }

  @media only screen and (min-width: 600px) {
       .daoc {
        background-color: #ff0000;
       }
  }

.n1 {
    color: black;
    font-size: 60px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    padding-left: 80px;
    padding-top: 100px;
  }
  

  
  .eee {
    border: 1px solid #E4E4E4;
    padding: 20px 40px;
    background-color: transparent;
  }
  
  .eee:hover {
    background-color: #EFA35A;
    color: white;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .year {
    padding-top: 40px;
    text-align: center;
    padding-bottom: 86px;
  }
  
  .Rectangle {
    display: flex;
    gap: 44px;
    border: 1px solid #EFA35A;
    margin-left: 80px;
    margin-right: 80px;
  }
  
  .Rectangle2 {
    display: flex;
    margin-top: 50px;
    gap: 44px;
    border: 1px solid #EFA35A;
    margin-left: 80px;
    margin-right: 80px;
  }
  
  .Rectangle3 {
    display: flex;
    margin-top: 50px;
    gap: 44px;
    border: 1px solid #EFA35A;
    margin-left: 80px;
    margin-right: 80px;
  }
  
  .Rectangle4 {
    display: flex;
    margin-top: 50px;
    gap: 44px;
    border: 1px solid #EFA35A;
    margin-left: 80px;
    margin-right: 80px;
  }
  
  button {
    padding: 20px 40px;
    font-size: 24px;
    background-color: #FDFDFD;
    border: 1px solid #E4E4E4;
  }
  
  button:hover {
    border-color: #EFA35A;
    font-weight: 600;
  }
  
  .katta1 {
    color: #6E6E6F;
    font-size: 24px;
  }
  
  .btn123 {
    display: flex;
    gap: 30px;
    padding-left: 300px;
    padding-top: 50px;
    padding-right: 300px;

  }
  #barcA {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .bg-img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  
    
  }
  
  .daoc {
    position: relative;
    z-index: 2;
    width: 45%;
    padding-left: 80px;
    padding-top: 80px;
    color: white;
  }
  #barcA {
    height: auto;
    min-height: 100%;
  }
      


  #barcA {
    display: flex;
    width: 100%;
    align-items: stretch;
    flex-wrap: wrap;
  }
  

  #barcA .bg-img {
    width: 100%;
    object-fit: cover;
  }
  

  #barcA .daoc {
    width: 100%;
  height: 825px;
  /* Chapdan o'ngga: qora rangdan shaffoflikka, keyin esa rasm */
  background: linear-gradient(to right, 
    rgba(26, 26, 26, 1) 0%, 
    rgba(26, 26, 26, 1) 40%, 
    rgba(26, 26, 26, 0) 100%), 
    url('sizning-rasmingiz.jpg');
    
  background-size: cover;
  background-position: center;
 
  align-items: center;
  padding-left: 0%; /* Matnni chapdan surish */
}

.daoc>h1{
  width: 862px;
}

.daoc>p{
  gap: 20px;
  width: 900px;
}
    

  @media (max-width: 1200px) {
    #barcA .bg-img {
       flex-direction: column;
      width: 50%;
    }
  
    #barcA .daoc {
       flex-direction: column;
      width: 50%;
      padding: 40px;
    }
  
    .sharime {
       flex-direction: column;
      font-size: 36px;
    }
  }

  

  @media (max-width: 992px) {
    #barcA {
      flex-direction: column; 
    }
  
    #barcA .bg-img {
      width: 100%;
      height: 300px;
      
    }
  
    #barcA .daoc {
      flex-direction: column; 
      width: 100%;
      padding: 40px 30px;
    }
  }

  
  @media (max-width: 576px) {
    #barcA .daoc {
      flex-direction: column; 
      
    }
  
    .sharime {
      flex-direction: column; 
      font-size: 24px;
      line-height: 1.3;
    }
  
    .kuerkode {
      flex-direction: column; 
      font-size: 14px;
      line-height: 1.6;
    }


  }

  .formiad {
    color: #ff0000;
  }

  #plasiholder {
    padding-left: 50%;
     font-size: 60px;
  }

  @media (max-width: 992px) {
   .Rectangle {
    text-align: center;
    flex-direction: column; 
   }

   .Rectangle2 {
    text-align: center;
     flex-direction: column;
   }
  
   .Rectangle3 {
    text-align: center;
     flex-direction: column;
   }

   .Rectangle4 {
    
    text-align: center;
     flex-direction: column;
   }

   .kanten {
    display: none;
   }

    .prime {
      display: none;
    }

    .iphat {
      display: none;
    }

    .navbar-icon {
      display: none;
    } 


    
      
    
}


@media (max-width: 770px) {
  #banner p {
    
  }

  .Rectangle p {
    display: none;
    
  }

  .Rectangle2 p {
    display: none;
    
  }

  .Rectangle3 p {
    display: none;
  }


  .Rectangle4 p {
    display: none;
  }

  .Rectangle h2 {
    
    margin-top: -630px;
    
  }

  .Rectangle img {
    margin-top: 50px;
  }

  .Rectangle button  {
    display: none;
  }


  .Rectangle2 h2 {
    font-size: 10px;
    margin-top: -610px;
    
  }

  .Rectangle2 img {
    margin-top: 50px;
  }

  .Rectangle2 button  {
    display: none;
  }

  .farkod{
    display: none;
  }

  .Rectangle3 h2 {
    font-size: 10px;
    margin-top: -610px;
    
  }

  .Rectangle3 img {
    margin-top: 50px;
  }

  .Rectangle3 button  {
    display: none;
  }

  .Rectangle4 h2 {
    font-size: 10px;
    margin-top: -610px;
    
  }

  .Rectangle4 img {
    margin-top: 50px;
  }

  .Rectangle4 button  {
    display: none;
  }
}