*{
    background-color: rgba(220, 220, 220, 0.934);
}

.rich {
    border-radius: 10px;
    background-color: rgb(244, 243, 243);
    color: rgb(0, 74, 135);
    padding: 10px 3px;
    border: none;
    width: 190px
   
    padding-top: 100px;
    
}
.youtube {
    margin-top: 80px;
    margin-left: 10px;
    border-radius: 10px;
    background-color: rgb(240, 240, 240);
    color: rgb(1, 60, 132);
    padding: 10px 3px;
    border: none;
    width: 190px
}
.facbok {
    margin-left: 10px;
    border-radius: 10px;
    background-color: rgb(244, 243, 243);
    color: rgb(1, 79, 168);
    padding: 10px 3px;
    border: none;
    width: 190px
}
.franchisko {
    margin-left: 10px;
    border-radius: 10px;
    background-color: rgb(242, 242, 242);
    color: rgb(0, 86, 147);
    padding: 10px 3px;
    border: none;
    width: 190px
}

.shift {
    border-radius: 10px;
    background-color: rgb(219, 219, 219);
    padding: 10px 3px;
    border: none;
    width: 190px
}

.bacraunt {
    border-radius: 10px;
    background-color: rgb(224, 224, 224);
    padding: 10px 3px;
    border: none;
    width: 190px
}

.clas {
    border-radius: 10px;
    background-color: rgb(218, 218, 218);
    padding: 10px 3px;
    border: none;
    width: 190px
}

.ctrl {
    border-radius: 10px;
    background-color: rgb(226, 226, 226);
    padding: 10px 3px;
    border: none;
    width: 190px
}

.end {
    border-radius: 10px;
    background-color: rgb(223, 223, 223);
    padding: 10px 3px;
    border: none;
    width: 170px
}

.tap {
    border-radius: 10px;
    background-color: rgb(222, 222, 222);
    padding: 10px 3px;
    border: none;
    width: 190px
}

.uzbekskiy {
    border-radius: 10px;
    background-color: rgb(220, 220, 220);
    padding: 10px 3px;
    border: none;
    width: 190px
}

.red{
    border-radius: 25px;
    background-color: rgb(190, 188, 188);
    padding: 5px 5px;
    border: none;
    width: 57px;
  
  
    
}

.solid {
    background-color: rgb(209, 209, 209);
    border-radius: 100px;
    border: none;
    font-size: 50px;
    padding: 20px;
    margin-left: 400px ;
}

.start {
    background-color: rgb(212, 208, 208);
    border-radius: 100px;
    border: none;
    font-size: 50px;
    padding: 20px;
    margin-left: 800px;
   
}
.ide{
    margin-left: 1619px;
}

.id {
    background-color: rgb(253, 251, 251);
    border-radius: 100px;
    border: none;
    font-size: 20px;
    padding: 20px;
    margin-left: 397px;
   
}

.ed {
    background-color: rgb(226, 226, 226);
    border-radius: 100px;
    border: none;
    font-size: 20px;
    padding: 20px;
    margin-left: 777px;
   
}

