* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.about_footer {
  background: #333;
  color: #fff;
  margin-top: 80px;
  font-family: sans-serif;
  padding: 50px 40px;
}
.footer-row {
  display: flex;
  gap: 60px;
  justify-content: space-between;
}

.foot-info a:hover {
  color: #efa35a;
}

.foot-info a {
  text-decoration: none;
  color: rgb(176, 174, 174);
  font-size: 20px;
}

.footer_hr {
  border: 1px solid #efa35a;
  width: 100%;
  margin: 15px 0;
}

.foot-info {
  width: 180px;
  display: flex;
  flex-direction: column;
}

.social-icon {
  display: flex;
  gap: 15px;
  margin-top: 15px;
  justify-content: center;
}
.social-icon a {
  color: white;
  font-size: 20px;
}

.social-icon a:hover {
  color: #efa35a;
}

.footer-social {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer a {
  text-decoration: none;
  color: white;
  font-size: 14px;
}

.footer-about {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

h2 {
  font-size: 22px;
  font-weight: 300;
}
.email {
  padding: 5px;
  border: 1px solid white;
}

@media screen and (max-width: 834px) {
  .foot-info a {
    display: none;
  }
  .foot-info h2 {
    font-size: 15px;
  }
  .footer-social img {
    width: 160px;
    height: 142px;
  }
}

@media  screen and (max-width: 380px) {
    .foot-info {
        display: none;
    }

    .footer-about {
        display: flex;
        flex-direction: column-reverse;
    }
    
}