.es{
  width: 1920px;
}
.main-chid{
  margin-left: 100px;
  font-size: 46px;
  span{
    color: #EFA35A;
    margin-left: 10px;
  }
}
.sa{
  display: inline;
  border: #E4E4E4 1px, solid;
  background-color: transparent;
  font-size: 18px;
  width: 164px;
  height: 50px;
  padding: 10px;
  margin: 20px;
  background-color: #FDFDFD;
}
.sas{
  display: inline;
  background-color: transparent;
  font-size: 18px;
  width: 162px;
  height: 53px;
  border: black 1px, solid;
}
.sass{
  display: inline;
  margin-left: 20px;
  border: none;
  width: 140px;
  height: 51px;
  font-size: 18px;
  background-color: #EFA35A;
  color: white;
}
#sad{
  margin-left: 500px;
}
.gr{
  display: inline;
}
.sh{
  margin-left: 100px;
  font-size: 25px;
}
.ch{
  margin-left: 100px;
  width: 1700px;
}
.Win-1{
  border: #EFA35A, 1px solid;
  width: 493px;
  height: 837px;
}
.wrapper{
  margin-top: 50px;
  margin-left: 100px;
}
.e{
  margin-left: 25px;
  margin-top: 40px;
  font-size: 30px;
}
.ee{
  margin-top: -34px;
  margin-left: 300px;
  color: #EFA35A;
  font-size: 30px;
}
.eee{
  margin-top: 30px;
  margin-left: 25px;
}
.eeee{
  font-size: 25px;
  margin-left: 90px;
  margin-top: -35px;
}
.detal{
  border: #EFA35A, 3px solid;
  width: 272px; 
  height: 50px;
  font-size: larger;
  margin-left: 100px;
  margin-top: 30px;
  background-color: transparent;
}
.Win-2{
  margin-top: -837px;
  margin-left: 550px;
  border: #EFA35A, 1px solid;
  width: 493px;
  height: 837px;
}
.Win-3{
  margin-top: -837px;
  margin-left: 1100px;
  border: #EFA35A, 1px solid;
  width: 493px;
  height: 837px;
}
.wrapper_contain{
  border: #EFA35A, 1px solid;;
  margin-top: 50px;
  margin-left: 100px;
  width: 750px;
  height: 662px;
}
.container_wrapper{
  img{
    width: 1000px;
    margin-left: 100px;
  }
  p{
    margin-top: 50px;
    display: inline;
  }
}
.ess{
  margin-left: 25px;
  margin-top: 20px;
  font-size: 30px;
}
.ees{
  margin-top: -34px;
  margin-left: 550px;
  color: #EFA35A;
  font-size: 30px;
}
.detals{
  border: #EFA35A, 2px solid;
  width: 272px; 
  height: 50px;
  font-size: larger;
  margin-left: 25px;
  margin-top: 30px;
  background-color: transparent;
}
.wrapper_contains{
  border: #EFA35A, 1px solid;;
  margin-top: -660px;
  margin-left: 940px;
  width: 750px;
  height: 662px;
}