body, h1, h2, h3, ul, p {
    margin: 0;
    padding: 0;

}




#header {
    background-color: #ffffff;
    border-bottom: 4px solid coral;
    width: 90% auto;
    height: 100%;
}


#header h4 {
    margin-left: 10px;
    margin-top: 15px;
    font-size: 25px;
    color: #000000;
    font-family: sans-serif;
    padding: 5px 0;
    display: inline-block;
}




.logoinfo {
    margin-left: -20%;
}

#header .logo {
   
    color: coral;
}

.navbar
 {
    color: #000000;
    float: right;
}

.navbar li {
    margin-left: -20px;
    color: #000000;
    display: inline;
}

.contaner {
    width: 100;
    height: 70px;
    margin: auto;
}

.navbar li a {
    text-decoration: none;
    color: #000000;
    font-family: sans-serif;
    padding:  25px 10px;
    display: inline-block;
}

.navbar li a:hover {
    color: coral;
     border-bottom: 4px solid coral;
}

#banner {
 
    height: 99vh;
    background-size: cover;
    background-position: center -500px;
    
    color: rgb(0, 0, 0);
    font-family: sans-serif;
}

#banner {
 
  height: 99vh;
  background-size: cover;
  background-position: center -500px;
  
  color: rgb(0, 0, 0);
  font-family: sans-serif;
}


#newsletter {
    background-color: #35424a;
    color: #fff;
    font-family: sans-serif;
    padding: 20px 0;
    display: inline-block;
    width: 100%;
}

#newsletter .left {
    float: left;
}


#newsletter .right {
    float: right;
}

#newsletter input {
    padding: 5px;
}

button {
    padding: 7px 15px;
    border: none;
    background-color: rgb(255, 255, 255);
    color: #000000;
}



.info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-container.info {
    margin-left: -40%;
  display: flex;
  gap: 30px;
  align-items: center;
  font-family: sans-serif;
  padding: 0 10px;
}


.info-container.info a,
.info-container.info label {
  text-decoration: none;
  color: #333;
  cursor: pointer;
  position: relative;
  display: block;
}

.info-container.info input {
  display: none;
}

.info-container.info ul {
  display: none;
  position: absolute;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(255, 255, 255, 0.2);
  min-width: 150px;
  z-index: 10;
  top: 100%;
  left: 0;
}

.info-container.info ul li a {
  padding: 10px;
  display: block;
  white-space: nowrap;
}

.info-container.info ul li a:hover {
  color: #efa35a;
}

.info-container.info input:checked + ul {
  display: block;
}

.menu-item {
  position: relative;
}

.navbar-btn button {
  font-size: 15px;
  padding: 10px;
  background-color: transparent;
  border: 1px solid #efa35a;
}

.navbar-btn button:hover {
  background-color: #f5dcc2;
}

.navbar-btn button a {
  color: black;
  text-decoration: none;
}

.navbar-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
}
header nav{
    border-bottom: 1px solid #E3E3E3;
}
.navbar-info {
  display: flex;
  justify-content: space-evenly;
  gap: 50px;
}


.navbar-icon {
  display: none;
}

@media screen and (max-width: 834px) {
  .navbar-icon {
    display: block;
  }
  .navbar-info {
    display: none;
  }
  .navbar-icon input {
    display: none;
  }

  .navbar-icon input {
    display: none;
  }
  .navbar-icon input:checked {
    display: none;
  }
  .navbar-icon ul li {
    list-style: none;
  }
  .navbar-icon ul li a {
    color: black;
    text-decoration: none;
    padding: 5px;
    display: block;
    white-space: nowrap;
  }
  .navbar-icon ul li a:hover {
    color: #efa35a;
  }
}

.about_footer {
  background: #333;
  color: #fff;
  margin-top: 80px;
  font-family: sans-serif;
  padding: 50px 40px;
}
.footer-row {
  display: flex;
  gap: 60px;
  justify-content: space-between;
}

.foot-info a:hover {
  color: #efa35a;
}

.foot-info a {
  text-decoration: none;
  color: rgb(176, 174, 174);
  font-size: 20px;
}

.footer_hr {
  border: 1px solid #efa35a;
  width: 100%;
  margin: 15px 0;
}

.foot-info {
  width: 180px;
  display: flex;
  flex-direction: column;
}

.social-icon {
  display: flex;
  gap: 15px;
  margin-top: 15px;
  justify-content: center;
}
.social-icon a {
  color: white;
  font-size: 20px;
}

.social-icon a:hover {
  color: #efa35a;
}

.footer-social {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer a {
  text-decoration: none;
  color: white;
  font-size: 14px;
}

.footer-about {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

h2 {
  font-size: 22px;
  font-weight: 300;
}
.email {
  padding: 5px;
  border: 1px solid white;
}

@media screen and (max-width: 834px) {
  .foot-info a {
    display: none;
  }
  .foot-info h2 {
    font-size: 15px;
  }
  .footer-social img {
    width: 160px;
    height: 142px;
  }
}

@media  screen and (max-width: 380px) {
    .foot-info {
        display: none;
    }

    .footer-about {
        display: flex;
        flex-direction: column-reverse;
    }
    
}

.n1 {
  color: black;
  font-size: 60px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  padding-left: 80px;
}



.eee {
  border: 1px solid #E4E4E4;
  padding: 20px 40px;
  background-color: transparent;
}

.eee:hover {
  background-color: #EFA35A;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.year {
  padding-top: 40px;
  
  padding-bottom: 86px;
}

.Rectangle {
  display: flex;
  gap: 44px;
  border: 1px solid #EFA35A;
  margin-left: 80px;
  margin-right: 80px;
}

.Rectangle2 {
  display: flex;
  margin-top: 50px;
  gap: 44px;
  border: 1px solid #EFA35A;
  margin-left: 80px;
  margin-right: 80px;
}

.Rectangle3 {
  display: flex;
  margin-top: 50px;
  gap: 44px;
  border: 1px solid #EFA35A;
  margin-left: 80px;
  margin-right: 80px;
}

.Rectangle4 {
  display: flex;
  margin-top: 50px;
  gap: 44px;
  border: 1px solid #EFA35A;
  margin-left: 80px;
  margin-right: 80px;
}



.daoc {
    background-color: #000000;
    width: 100%;
}

.daoc>p,h1 {
    color: #ffffff;
   width: 703px;
}

.daoc>p {
    font-size: 120%;
    margin-left: 7%;
    width: 500px;
}

.daoc>h1 {
    margin-left: 3%;
}

#barcA {
  
    display: flex;
}

.buttonn {
        padding: 7px 15px;
    border: none;
    background-color: rgb(255, 104, 35);
    color: #ffffff;
    margin-top: 5%;
    margin-left: -75%;
    
}

.daoc>button{
    margin-left: -60%;
    
}



.akem {
   
    
    margin-top: 5%;
    display: flex;
    color: #000000;
    font-family: sans-serif;
}

.akem>img {
    margin-left: 20px;
    width: 488px;
}

.akem>h2,h3 {
   
    margin-top: 10%;
    padding-left: 15%;
    color: #3b3b3b;
    width:900px;
    font-size: 30px;
}

#M416 {
    padding-left: 15%;
    font-size: 220%;
}





.about_footer {
  background: #333;
  color: #fff;
  margin-top: 80px;
  font-family: sans-serif;
  padding: 50px 40px;
}
.footer-row {
  display: flex;
  gap: 60px;
  justify-content: space-between;
}

.foot-info a:hover {
  color: #efa35a;
}

.foot-info a {
  text-decoration: none;
  color: rgb(176, 174, 174);
  font-size: 20px;
}

.footer_hr {
  border: 1px solid #efa35a;
  width: 100%;
  margin: 15px 0;
}

.foot-info {
  width: 180px;
  display: flex;
  flex-direction: column;
}

.social-icon {
  display: flex;
  gap: 15px;
  margin-top: 15px;
  justify-content: center;
}
.social-icon a {
  color: white;
  font-size: 20px;
}

.social-icon a:hover {
  color: #efa35a;
}

.footer-social {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer a {
  text-decoration: none;
  color: white;
  font-size: 14px;
}

.footer-about {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

h2 {
  font-size: 22px;
  font-weight: 300;
}
.email {
  padding: 5px;
  border: 1px solid white;
}

@media screen and (max-width: 834px) {
  .foot-info a {
    display: none;
  }
  .foot-info h2 {
    font-size: 15px;
  }
  .footer-social img {
    width: 160px;
    height: 142px;
  }
}

@media  screen and (max-width: 380px) {
    .foot-info {
        display: none;
    }

    .footer-about {
        display: flex;
        flex-direction: column-reverse;
    }
    
}

.n1 {
  color: black;
  font-size: 60px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  padding-left: 80px;
}



.eee {
  border: 1px solid #E4E4E4;
  padding: 20px 40px;
  background-color: transparent;
}

.eee:hover {
  background-color: #EFA35A;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.year {
  padding-top: 40px;

  padding-bottom: 86px;
}

.Rectangle {
  display: flex;
  gap: 44px;
  border: 1px solid #EFA35A;
  margin-left: 80px;
  margin-right: 80px;
}

.Rectangle2 {
  display: flex;
  margin-top: 50px;
  gap: 44px;
  border: 1px solid #EFA35A;
  margin-left: 80px;
  margin-right: 80px;
}

.Rectangle3 {
  display: flex;
  margin-top: 50px;
  gap: 44px;
  border: 1px solid #EFA35A;
  margin-left: 80px;
  margin-right: 80px;
}

.Rectangle4 {
  display: flex;
  margin-top: 50px;
  gap: 44px;
  border: 1px solid #EFA35A;
  margin-left: 80px;
  margin-right: 80px;
}

button {
    
 padding: 15px;
  font-size: 15px;
  background-color: #FDFDFD;
  border: 1px solid #E4E4E4;
}

button:hover {
    background-color: #EFA35A;
  border-color: #EFA35A;
  font-weight: 600;
}

.katta1 {
    width: 100px;
  color: #6E6E6F;
  font-size: 24px;
}


.btn123 {
    width: 100%;
  display: flex;
  gap: 30px;
  padding-left: 300px;
  padding-top: 50px;
  padding-right: 300px;
}/*# sourceMappingURL=style.css.map */
@media screen and (max-width: 834px) {

  .n1 {
    font-size: 42px;
    padding-left: 40px;
    padding-top: 60px;
  }

  .Rectangle,
  .Rectangle2,
  .Rectangle3,
  .Rectangle4 {
    flex-direction: column;
    margin-left: 40px;
    margin-right: 40px;
  }

  .textrec h2 {
    font-size: 30px !important;
  }

  .textrec p {
    font-size: 20px !important;
  }

  .btn123 {
    padding-left: 50px;
    padding-right: 50px;
    justify-content: center;
    flex-wrap: wrap;
  }
}
.news-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 100px 80px 40px;
}

.n1 {
  font-size: 60px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}

/* mobile year default yashirin */
.year-wrapper {
  display: none;
}

#yearToggle {
  display: none;
}

.news-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 80px;
}

.news-title {
  font-size: 64px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  color: black;
}

.year-select {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 20px 30px;
  border: 1px solid #E4E4E4;
  font-size: 24px;
  cursor: pointer;
}

.year-select img {
  width: 16px;
}
@media screen and (max-width: 380px) {

  .desktop-year {
    display: none;
  }

  .news-top {
    padding: 40px 0px;
    padding-top: 0;
    gap: 15px;
    display: flex;
    align-items: center;
  }


  .n1 {
    font-size: 28px;
    padding: 0;
  }

  .year-wrapper {
    display: block;
    width: 120px;
    position: relative;
  }

  .year-select {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #E4E4E4;
    padding: 10px 12px;
    font-size: 16px;
    cursor: pointer;
  }

  .year-select img {
    width: 12px;
  }

  .year-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: white;
    border: 1px solid #E4E4E4;
    z-index: 10;
  }
  li{
    list-style: none;
  }
  .year-dropdown li {
    padding: 10px;
    font-size: 15px;
    border-bottom: 1px solid #eee;
  }

  #yearToggle:checked ~ .year-dropdown {
    display: block;
  }
}


.akem>button {
    width: 100%;
    background-color: #070707;
}