* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: black;  
}
.back-colour {
    // width: 1200px;
    // height: 1100px;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}