* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: white;
}

.main-elements-wrapper {
  background-color: #f7f8f8;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 80px 0;
}

.main-elements {
  padding: 80px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  h1 {
    font-size: 50px;
    text-transform: uppercase;
    span {
      color: #efa359;
    }
  }
  button {
    width: 230px;
    padding: 10px;
    border: 1px solid #efa359;
    background-color: transparent;
    i {
      color: #efa359;
    }
    a {
      font-size: 15px;
      text-decoration: none;
      color: black;
    }
  }
}

.registration_list {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 50px;
  background-color: white;
  margin: 20px;
  h3 {
    font-size: 30px;
    font-weight: 200;
  }
  span {
    font-size: 20px;
    font-weight: 100;
  }
  input {
    width: 100%;
    height: 40px;
    padding: 10px;
    background-color: #f7f8f8;
    border: none;
  }
  small {
    font-size: 15px;
    span {
      color: #efa359;
      font-size: 15px;
    }
  }
  .reg-btn {
    a {
      font-size: 20px;
      text-decoration: none;
      color: white;
    }
    padding: 10px;
    background-color: #efa359;
    border: 1px solid #efa359;
    cursor: pointer;
  }
  .reg-btn:hover {
    background-color: #f5dcc2;
    border: 1px solid #efa359;
    a {
      color: black;
    }
  }
}

.element-icons {
  i {
    font-size: 20px;
    padding: 5px 25px 5px 8px;
    border: 1px solid black;
  }
}

.map_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 0;
}

.map_wrapper {
  background-image: url("/assets/img/svg/map.svg");
  height: 680px;
  width: 1160px;
}

.map_info {
  width: 500px;
  height: 580px;
  background-color: white;
  margin: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 30px;
  text-align: center;
  span {
    font-size: 20px;
  }
  div {
    font-size: 20px;
    i {
      color: #efa359;
    }
  }
  button {
    width: 230px;
    padding: 10px;
    border: 1px solid #efa359;
    background-color: #efa359;
    cursor: pointer;
    i {
      color: #efa359;
    }
    a {
      font-size: 20px;
      text-decoration: none;
      color: white;
    }
  }
  button:hover {
    background-color: #f5dcc2;
    border: 1px solid #efa359;
    a {
      color: black;
    }
  }
}
