* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

video {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
    padding: 0 0 3000px;

}

.var {
    margin-left: 200px;
    padding-top: 100px;
    font-size: 70px;
}

.div {
    margin-left: 200px;
    padding-top: 100px;
    font-size: 60px;
    position: absolute;
    top: 10px;
    right: 10px;

}

.darkin {
    margin-left: 200px;
    padding-top: 500px;
    font-size: 170px;
}

.drak {
    margin-left: 200px;
    padding-top: 10px;
    font-size: 70px;
}

.bg-red {
    margin-left: 200px;
    background-color: rgb(255, 0, 0);
    color: white;
    padding: 30px 125px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transform: scale(1.o5);
}

.blue {
    padding-left: 2000px;
    margin-left: 200px;
    padding-top: 6px;
    font-size: 70px;
}

.redi {
    padding-left: 2000px;
    margin-left: 200px;
    padding-top: 500px;
    font-size: 30px;
}

.RADIUSS {
    padding-left: ;
    font-size: 70px;
}