*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
    font-family: "Segoe UI", Arial, sans-serif;
}
.info {
  display: flex;
  justify-content: center;
  align-items: center;
}


.info-container.info {
  display: flex;
  gap: 20px;
  align-items: center;
  font-family: sans-serif;
  padding: 0 10px;
}

.info-container.info a,
.info-container.info label {
  text-decoration: none;
  color: #333;
  cursor: pointer;
  position: relative;
  display: block;
}

.info-container.info input {
  display: none;
}

.info-container.info ul {
  display: none;
  position: absolute;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(255, 255, 255, 0.2);
  min-width: 150px;
  z-index: 10;
  top: 100%;
  left: 0;
}

.info-container.info ul li a {
  padding: 10px;
  display: block;
  white-space: nowrap;
}

.info-container.info ul li a:hover {
  color: #efa35a;
}

.info-container.info input:checked + ul {
  display: block;
}

.menu-item {
  position: relative;
}

.navbar-btn button {
  font-size: 15px;
  padding: 10px;
  background-color: transparent;
  border: 1px solid #efa35a;
}

.navbar-btn button:hover {
  background-color: #f5dcc2;
}

.navbar-btn button a {
  color: black;
  text-decoration: none;
}

.navbar-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
}

.navbar-info {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}
.navbar-icon {
  display: none;
}

@media screen and (max-width: 834px) {
  .navbar-icon {
    display: block;
    position: relative; 
  }

  .navbar-info {
    display: none;
  }

  .navbar-icon input {
    display: none;
  }

  .navbar-icon ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
  }

  .navbar-icon input:checked ~ ul {
    display: block;
  }

  .navbar-icon ul li {
    list-style: none;
  }

  .navbar-icon ul li a {
    color: black;
    text-decoration: none;
    padding: 10px;
    display: block;
    white-space: nowrap;
  }

  .navbar-icon ul li a:hover {
    color: #efa35a;
  }
}

img{
}
.smi_st_div{
    max-width: 1400px;
    
}
.about_page-head {
  /* margin: 40px 0 20px 0; */
  justify-content: space-around;
}
.about_page-head h1 {
  font-size: 42px;
  font-weight: 700;
  padding: 20px;
}
.about_page-head span {
  color: #EFA359;
}
.st_smi-container {
  display: flex;
    justify-content: center;
    align-items: center;
}
:root {
    --orange: #f2994a;
    --dark: #222;
    --gray: #777;
}
.smi_st-sec{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    border: 1px solid #EFA359;
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
}
.st-sec-p{
    /* max-width: 620px; */
    padding-left: 40px;    
    justify-content: space-around;
}
.smi_st-head{
    justify-content: center;
    align-items: center;
}
.smi_st-head>img{
    max-width: 1400px;
    width: 100%;
}
.st-sec-btn{
    padding: 10px 40px  ;
    margin-top: 50px;
    background-color: transparent;
    border: 1px solid #f2994a;
    font-size: 23px;
    color: #EFA359;
}
.st-sec-btn:hover{
    background-color: #f2994a;
    color: white;
    cursor: pointer;
}
.st-sec-p>p{
    margin-top: 50px;
    font-size: 23px;
}
.st-sec-p>h3{
    font-size: 35px;
    max-width: 600px;
}
.about_footer {
  background: #333;
  color: #fff;
  margin-top: 80px;
  font-family: sans-serif;
  padding: 50px 40px;
}
.footer-row {
  display: flex;
  gap: 60px;
  justify-content: space-between;
}

.foot-info a:hover {
  color: #efa35a;
}

.foot-info a {
  text-decoration: none;
  color: rgb(176, 174, 174);
  font-size: 20px;
}

.footer_hr {
  border: 1px solid #efa35a;
  width: 100%;
  margin: 15px 0;
}

.foot-info {
  width: 180px;
  display: flex;
  flex-direction: column;
}

.social-icon {
  display: flex;
  gap: 15px;
  margin-top: 15px;
  justify-content: center;
}
.social-icon a {
  color: white;
  font-size: 20px;
}

.social-icon a:hover {
  color: #efa35a;
}

.footer-social {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer a {
  text-decoration: none;
  color: white;
  font-size: 14px;
}

.footer-about {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

h2 {
  font-size: 22px;
  font-weight: 300;
}
.email {
  padding: 5px;
  border: 1px solid white;
}

@media screen and (max-width: 834px) {
  .foot-info a {
    display: none;
  }
  .foot-info h2 {
    font-size: 15px;
  }
  .footer-social img {
    width: 160px;
    height: 142px;
  }
}

@media  screen and (max-width: 380px) {
    .foot-info {
        display: none;
    }

    .footer-about {
        display: flex;
        flex-direction: column-reverse;
    }
    
}