.body {
    background-color: rgba(255, 255, 255, 0.734);
}

.a>img {
    width: 100px;
    height: 100px;
    padding-left: 500px;
    margin-right: 50px;
}

.a>b {

    font-size: 25px;
    color: rgb(96, 96, 96);

}

.var {
    background-color: #19306e;
    margin: auto;
    border: 20px solid #19306e;
    color: black;
    width: 800px;
    height: 50px;
}

.var1 {
    padding-left: 20px;
    background-color: rgb(244, 244, 244);
    margin: auto;
    border: 20px solid white;
    width: 850px;
    height: 400px;
}

.s11 {
    font-size: 300%;
    color: aliceblue;
}

.random {

    background-color: rgb(239, 239, 239);
    margin: auto;
    border: 0px solid rgb(255, 255, 255);
    width: 850px;
    height: 90px;

}

.random>b {
    padding-left: 50px;
    font-size: 100%;
}

.s1 {
    padding-left: -25px;
}

.kaer {
    background-color: rgb(0, 0, 0);
    margin: auto;
    border: 0px solid white;
    width: 5000px;
    height: 300px;
    padding-left: -10;
}