
.FESKOD>div {
    border-radius: 10px;
}


.FESKOD {
    width: 600px;
    padding-top: 500px;
    padding-left: 700px;
    display: grid;
    gap: 20px;
    grid-template-columns: auto auto auto ;
    
}




.grid-container {
    display: grid;
    
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    gap: 15px; 
    max-width: 800px;
    margin: 20px auto;
    padding: 10px;
  }
  
  .box {
    background-color: #ffffff;
    border: 4px solid #1e4bb8; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 24px;
    min-height: 100px;
  }
  

  .box-1 {
    grid-column: 1 / 3;
    grid-row: 1;
  }
  
  
  .box-2 {
    grid-column: 3;
    grid-row: 1 / 4; 
    height: 100%;
  }
  
  
  .box-3 {
    grid-column: 1;
    grid-row: 2;
  }
  
  .box-4 {
    grid-column: 2;
    grid-row: 2;
  }
  
  
  .box-5 {
    grid-column: 1 / 3;
    grid-row: 3;
  }
  

  .box-6 {
    grid-column: 1 / 4;
    grid-row: 4;
  }


 