body {
  margin: 110px;
  background: #202124;
  color: #fff;
  font-family: Arial, sans-serif;
  text-align: center;
  height: 100vh;
}

.logo {
  font-size: 80px;
  margin-top: 100px;
  font-family: "Product Sans", Arial, sans-serif;
}

.search-box {
  margin: 30px auto;
  width: 580px;
  background: #9699a3;
  padding: 13px 20px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.search-box input {
  width: 100%;
  background: none;
  border: none;
  outline: none;
  color: #fff;
  font-size: 18px;
}

.icon, .mic {
  font-size: 20px;
  opacity: 0.8;
  cursor: pointer;
}

.shortcuts {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 40px;
}

.item {
  text-align: center;
  cursor: pointer;
}

.circle {
  width: 55px;
  height: 55px;
  background: #303134;
  border-radius: 50%;
  margin: 0 auto;
}

body{
  background-image: url(https://i.pinimg.com/736x/43/e5/f3/43e5f311e09b506c379d51fea5d847ec.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 100%;
  height: 100%;
}
a{
  text-decoration: none;
}

.div{
  padding-left: 1700px;
}
.hhh{
  width: 30px;
  height: 30px;
  border-radius: 50%;
}