body{
  padding: 2%;
  text-align: center;
  color: rgb(0, 0, 0);
  background-size: 100% auto;   
  background-image: url("https://i.pinimg.com/736x/43/e5/f3/43e5f311e09b506c379d51fea5d847ec.jpg");
 
}

.wrapper_search{
  background-color: rgb(255, 255, 255);
  width: 300px;
  padding: 12px 16px;
  border-radius: 22px;
  
}

.wrapper_search > input{
  background-color: rgb(251, 251, 251);
  border: none;
  outline: none;
  width: 2200px;
}