*{
  box-sizing: border-box;
  padding: 20px;
  margin: 0;
}


.asdominator {
  color: #000000;
  padding-left: 550px;
  font-size: 60px;
}


.asmaster {
  color: blue;
  padding-left: 460px;
  font-size: 60px;
}

 .kat {

  color: #ff0000;
 }

.van {
  color: rgb(0, 51, 255);
}

.kak{
  font-size: 20px;
  color: rgb(0, 0, 0);
}

img{
  margin-top: 50px;
  width: 30px;
  height: 30px;
  margin-left: 10px
 
}
header{
  display: flex;
  gap: 20px;
  margin: 10px;
}
input{
  width: 1700px;
  border-radius: 7px;
background-color: #e9e4e4;
border: none;
padding: 15px;

}
.name{
  position: relative;
}
.name:hover .namee {
display: block ;
position: absolute;
background-color: rgb(255, 254, 254);
width: 80px;
height: 100px;
border-radius: 5px;


}
.namee{
  display: none;

}
.header2{
  width: 60px;
  height: 900px;
  background-color: gray;
 
 background-color: white;
 border-right: 0.7px solid rgb(255, 255, 255);
}
i{
  font-size: 30px;
}
.header2 > i {
  margin-left: 10px;

}
.nome{
  display: flex;
}


.dropdown {
position: relative;
opacity: 0.4;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #f9f9f9;
min-width: 130px;
box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0);
padding: 20px;
}

.dropdown:hover .dropdown-content {
display: block;

}
.dropdown {
  position: relative;
  display: inline-block;
  width: 300px;
  height: 300px;
}

.dropdown img {
  width: 300px; 
  display: block; 
  cursor: pointer;
  height: 300px;
  border-radius: 20px;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 0; 
  left: 0;
  width: 200px;
  height: 300px;
  background: rgba(255, 255, 255, 0); 
  color: white;
  margin-left: 20px

}

.dropdown:hover .dropdown-content {
  display: block;
}
.yuklab{
  margin-left: 200px;
  width: 50px;
  border-radius: 16px;
  padding: 10px;
  text-align: center;
  background-color: red;
  color: white;
  font-size: 15px;
  border: none;
  box-shadow: 1px 2px 5px;
  
}
.dropdown-content > i{
font-size: 20px;
}
.center{
  display: flex;
  margin-left: 180px;
  margin-top: 190px;
  gap: 10px;
}
.nema{
  display: flex;
  margin-left: 0;
}
.nomee{
  width: 800px;
  
}
.size1{
height: 800px;
}
.dropdown:hover{
 opacity: 1;
 transition: 0.8s;
}
.header3{
display: flex;

  grid-template-columns: repeat(5, 1fr); 
  gap: 10px;
}
.none{
  display: flex;
  flex-wrap: wrap;
}