body {
    background-color: rgb(68, 169, 200);
}
.drop {
    display: none;
    color: rgb(0, 111, 208);
    position: absolute;
}

.ul1 {
    position: relative;
    width: 200px;
    background-color: rgb(212, 212, 212);
    color: rgb(0, 0, 0);
    margin-left: 20px;
    padding: 2px;
    text-align: center;
    text-decoration: none;

}


.ul2 {
    display: none;
}

.ul1:hover .ul2 {
    background-color: rgb(220, 219, 219);
    color: rgb(0, 0, 0);
    display: block;
}


.dropdown {
    top: 14px;
    text-align: center;
    margin-left: 20px;
    padding: 2px;
    background-color: #dedddd;
  position: relative;
  width: 200px;
}   

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  border: 2px solid black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.drip{
    background-color:white;
    position: relative;
    width: 200px;
}

.drip-cantent {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  border: 2px solid black;
}

.drip:hover .drip-cantent {
    display: block;
}

.red{
    background-color: rgb(204, 204, 204);
    padding: 30px;
    margin: 50px;
}
body{
    display: flex;
    justify-content: space-around;
}